/**
 * @name Marin Kitagawa
 * @author Duskz
 * @version 1.0.0
 * @description Marin Kitagawa aesthetic theme inspired by My Dress-Up Darling
 */

/* Load Theme Core */
@import url('https://raw.githubusercontent.com/duskzxd/BetterDiscord-Themes/main/MarinKitagawa-Discord-Theme/core.css');
