/**
 * @name Marin Kitagawa
 * @author Duskz
 * @version 1.0.0
 * @description Marin Kitagawa aesthetic theme inspired by My Dress-Up Darling
 */

@import url('https://raw.githubusercontent.com/duskzxd/MarinKitagawa-Discord-Theme/main/core.css');
